Repository RayTracing/raytracing.github.io, pull requests merged in 2019-09, with the labels that each got.

#159 Consistent use of random_double() instead of drand48() in all books and src code
  TheNextWeek/book/ch01.md.html
  TheNextWeek/book/ch02.md.html
  TheNextWeek/book/ch04.md.html
  TheNextWeek/book/ch08.md.html
  TheNextWeek/book/ch09.md.html
  TheNextWeek/src/bvh.h
  TheNextWeek/src/camera.h
  TheNextWeek/src/constant_medium.h
  TheNextWeek/src/main.cc
  TheNextWeek/src/material.h
  TheNextWeek/src/perlin.h
  TheNextWeek/src/random.h
  TheRestOfYourLife/book/ch01.md.html
  TheRestOfYourLife/book/ch02.md.html
  TheRestOfYourLife/book/ch03.md.html
  TheRestOfYourLife/book/ch06.md.html
  TheRestOfYourLife/book/ch08.md.html
  TheRestOfYourLife/book/ch09.md.html
  TheRestOfYourLife/book/ch11.md.html
  TheRestOfYourLife/src/aarect.h
  TheRestOfYourLife/src/camera.h
  TheRestOfYourLife/src/constant_medium.h
  TheRestOfYourLife/src/coscubed.cc
  TheRestOfYourLife/src/cosine_density.cc
  TheRestOfYourLife/src/foomaterial.h
  TheRestOfYourLife/src/hitable_list.h
  TheRestOfYourLife/src/main.cc
  TheRestOfYourLife/src/material.h
  TheRestOfYourLife/src/msc.h
  TheRestOfYourLife/src/pdf.h
  TheRestOfYourLife/src/perlin.h
  TheRestOfYourLife/src/pi.cc
  TheRestOfYourLife/src/random.h
  TheRestOfYourLife/src/sphereimp.cc
  TheRestOfYourLife/src/sphereplot.cc
  TheRestOfYourLife/src/x2.cc
  TheRestOfYourLife/src/x2imp.cc
Labels: InOneWeekend, TheNextWeek, TheRestOfYourLife, book, code

#164 book ch2: fix image paths
  TheRestOfYourLife/book/ch02.md.html
Labels: TheRestOfYourLife, book

#171 Book style pass
  books/RayTracingInOneWeekend.html
  books/RayTracingTheNextWeek.html
  books/RayTracingTheRestOfYourLife.html
  src/TheNextWeek/perlin.h
  style/book.css
Labels: book

#177 book print styling
  books/RayTracingInOneWeekend.html
  books/RayTracingTheNextWeek.html
  books/RayTracingTheRestOfYourLife.html
  style/book.css
Labels: book

#176 src/*/README.md: Edit tweaks
  src/InOneWeekend/README.md
  src/TheNextWeek/README.md
  src/TheRestOfYourLife/README.md
Labels: code, web

#183 Add styling for code highlighting
  books/RayTracingInOneWeekend.html
  books/RayTracingTheNextWeek.html
  books/RayTracingTheRestOfYourLife.html
  style/book.css
Labels: book

#184 Fix typo: hitable should be hittable
  books/RayTracingInOneWeekend.html
  books/RayTracingTheNextWeek.html
  books/RayTracingTheRestOfYourLife.html
  src/InOneWeekend/hitable.h
  src/InOneWeekend/hitable_list.h
  src/InOneWeekend/main.cc
  src/InOneWeekend/material.h
  src/InOneWeekend/sphere.h
  src/TheNextWeek/aabb.h
  src/TheNextWeek/aarect.h
  src/TheNextWeek/box.h
  src/TheNextWeek/bvh.h
  src/TheNextWeek/constant_medium.h
  src/TheNextWeek/hitable.h
  src/TheNextWeek/hitable_list.h
  src/TheNextWeek/main.cc
  src/TheNextWeek/material.h
  src/TheNextWeek/moving_sphere.h
  src/TheNextWeek/sphere.h
  src/TheRestOfYourLife/aabb.h
  src/TheRestOfYourLife/aarect.h
  src/TheRestOfYourLife/box.h
  src/TheRestOfYourLife/bvh.h
  src/TheRestOfYourLife/constant_medium.h
  src/TheRestOfYourLife/foomaterial.h
  src/TheRestOfYourLife/hitable.h
  src/TheRestOfYourLife/hitable_list.h
  src/TheRestOfYourLife/main.cc
  src/TheRestOfYourLife/material.h
  src/TheRestOfYourLife/moving_sphere.h
  src/TheRestOfYourLife/pdf.h
  src/TheRestOfYourLife/sphere.h
Labels: book, code

#190 Fix scattering_pdf implementations
  books/RayTracingTheRestOfYourLife.html
  src/TheRestOfYourLife/main.cc
  src/TheRestOfYourLife/material.h
Labels: TheRestOfYourLife
